<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Books</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="index-header">
    <h1>Here's all the Books</h1>
  </div>
    <div class="card-container">
      <% book.forEach((book) => { %>
        <h4>
        <%= book.title %> Book
      </h4>
        <a href="/books/<%= book._id %>">View more details.</a>
      <% }) %>
    </div>
  </body>
</html>