<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Book</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a new Book!</h1>
<form action="/books" method="POST" enctype="multipart/form-data">
    <label for="Author">Author:</label>
    <input type="text" name="Author" id="Author" />

    <label for="Title">Title:</label>
    <input type="text" name="Title" id="Title" />

    <label for="ISBN">ISBN:</label>
    <input type="text" name="ISBN" id="ISBN"  />

    <label for="PuplicationYear">Puplication Year:</label>
    <input type="Date" name="PuplicationYear" id="PuplicationYear"  />

    <label for="Description">Description:</label>
    <input type="text" name="Description" id="Description" />

    <label for="CoverImg">CoverImg:</label>
    <input type="file" accept="image/*" name="CoverImg" id="CoverImg"  />

    <label for="Pages">Pages:</label>
    <input type="number" name="pages" id="pages"  />

    <label for="AvailableCopies">Available Copies:</label>
    <input type="number" name="AvailableCopies" id="AvailableCopies"  />

    <label for="category">Select a Category:</label>
    <select name="category" id="category" required>
      <option value="Education">Education</option>
      <option value="Literature & Classics">Literature & Classics</option>
      <option value="Children's Books">Children's Books</option>
      <option value="Health & Wellness">Health & Wellness</option>

    </select>

    <label for="specificGenre">The Specific Genre:</label>
    <input type="text" name="specificGenre" id="specificGenre"  />



    <button type="submit">Add Book</button>
  </form>
  
  </body>
</html>